#game-board {
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-board-ui {
    display: flex;
    flex-direction: row;
    width: 95vw;
    justify-content: space-between;
    padding: 20px;
}

.game-area {
    display: flex;
    flex-direction: row;
}

.game-play-area {
    display: grid;
    grid-template-columns: repeat(5, auto);
    padding-top: 50px;
    width: 80vw;
    /* row-gap: 30px; */
}

.target-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.new-game-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;
    gap: 10px;
}

.game-chances, .game-instructions, .game-score {
    display: flex;
    align-items: center;
    text-align: center;
}

.start-game-button {
    width: 100px;
    height: 40px;
    align-self: center;
    border-radius: 8px;
    /* background-color: transparent; */
    border-style: none;
    font-size: 1rem;
}